@font-face{
    font-family: 'Urbanist';
    src: url(../Police/Oswald-Regular_titre.ttf) format(truetype);
}

body{
    background-color:#DDDDDD;
    font-family: "Urbanist";
}
/* (A) NAVIGATION BAR */
.ddmenu { display: flex; }
 
/* (B) FIRST LEVEL ITEMS */
.ddmenu a, .ddmenu .ddgroup {
  width: 100%;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  background: #4E996D;
}
.ddmenu a:hover, .ddmenu .ddgroup:hover {
  color: #DDDDDD;
  background: #2D714A;
  cursor: pointer;
}

.ddmenu .ddgroup { position: relative; }
.ddsub {
  width: 100%;
  position: absolute;
  top: 100%; left: 0;
  display: none;
}
.ddsub a { 
  display: block; 
  box-sizing: border-box;
}
.ddgroup:hover .ddsub { display: block; }

/* (D) DROPDOWN ARROW */
.ddgroup::after {
    content: "\27A4";
    position: absolute;
    top: 18px; right: 20px;
    transition: transform 0.2s;
  }
  .ddgroup:hover::after {
    transform: rotate(90deg);
  }

  /* (E) ON SMALL SCREENS */
@media screen and (max-width: 640px) {
    .ddmenu { flex-wrap: wrap; }
    .ddsub {
      position: static;
      margin-top: 10px;
    }
  }

  #article1{
    font-size: 23px;
    background-color: #1A1A1A;
    color: #fff;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  #article2{
    background-color: #fff;
  
  }



  #imgreseau{
float: right;
padding-left: 5px;

  }

  #p1{
    padding: 35px;
  }

  #p2{
    font-size: 23px;
    background-color: #1A1A1A;
    color: #fff;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 5px;
    height: 115px;
  }

  #p3{
    font-size: 23px;
    background-color: #4E996D;
    color: #1A1A1A;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 5px;
    padding:15px ;
  }

  #carrep1{
    float: right;
  }

  .box {
    display: flex;
    flex-wrap: wrap;
  }
  .box2 {
    display: flex;
  }

  .one {
    flex: 1 1 auto;
    background-color: #1A1A1A;
  }

  .two {
    flex: 0.5 1 auto;
    background-color: #fff;
    text-align: center;
    color: black ;
    font-weight:bolder;
    font-size: 30px;
    padding: 5px 5px 0px;
  }

  .one1 {
    flex: 1 1 auto;
    background-color: #fff;
  }

  .two1 {
    flex: 0.5 1 auto;
    background-color: #1A1A1A;
    text-align: center;
    color: #fff ;
    font-weight:bolder;
    font-size: 30px;
    padding: 5px 5px 0px;
  }

  .one2 {
    flex: 1 1 auto;
    background-color: #2D714A;
  }

  .two2 {
    flex: 0.5 1 auto;
    background-color: #2D714A;
    text-align: center;
    color: #1A1A1A ;
    font-weight:bolder;
    font-size: 30px;
    padding: 5px 5px 0px;
  }

  .one3 {
    flex: 0.75 1 auto;
    background-color: #DDDDDD;
  }

  .two3 {
    flex: 1 1 auto;
    background-color: #DDDDDD;
    text-align: center;
    color: #1A1A1A ;
    font-weight:bolder;
    font-size: 15px;
    padding: 15px 0px 0px;
  }

  .photo1 {
    flex: 1 1 auto;
    text-align: center;
  }

  .photo2 {
    flex: 1 1 auto;
    text-align: center;
  }

  #presentation{
    border-radius: 50%;
    padding:10px 0px 10px
  }
  #souspresentation1{
    margin: 0 auto;
    width: 450px;
    text-align: center;
    font-size: 25px;
    padding-bottom: 35px;
    }

    #souspresentation{
      margin: 0 auto;
      width: 450px;
      text-align: center;
      font-size: 25px;
      }

    #equipe{
      font-size: 35px;
      text-align: center;
    }

    #carrep2{
width: 80%;
    }

    /*page 2*/

    .boxp2 {
      display: flex;
      flex-wrap: wrap;
        font-size: 23px;
        background-color: #2D714A;
        color: #fff;
        padding: 50px 75px 10px;
    }
  
    .onep2 {
      flex: 1 1 auto;
    }
  
    .twop2 {
      flex: 4 1 auto;
      text-align: center;
      
      
      font-size: 30px;
    }

    #rectanglep2{
      background:#DDDDDD;
      width: max-content;
      padding: 10px;
      font-size: 30px;
      margin-top: 200px;
      margin-left: 85px;
      font-weight:bolder;
    }

    .boxp3 {
      display: flex;
      flex-wrap: wrap;
        font-size: 23px;
        background-color: #4E996D;
        color: #fff;
        padding: 50px 75px 10px;
    }

    .boxp4 {
      display: flex;
      flex-wrap: wrap;
        font-size: 23px;
        background-color: #1A1A1A;
        color: #fff;
        padding: 50px 75px 10px;
    }
    .boxp5 {
      display: flex;
      flex-wrap: wrap;
        font-size: 23px;
        background-color: #2D714A;
        color: #fff;
        padding: 50px 75px 10px;
    }